.track-display{
  display: block;
  float: left;
}

.track-display-list{
  display: block;
}

.cover-art{
  position: relative;
  z-index: -1;
  max-width: 100%;
}


.track-display-item{
  display: block;
  position: relative;
  list-style: none;
  max-width: 27.3%;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 50px;
  margin-bottom: 250px;
  background-color: white;
  opacity: 0.9;
}

.track-display-item:hover{
  opacity: 0.7;
}

.track-display-detail{
  display: block;
  position: absolute;
  background-color: black;
  color: #cccccc;
  padding: 20px;
  top: 97%;
  list-style: none;
  min-height: 60%;
}

.track-display-detail > li{
  padding-bottom: 15px;
}

.track-display-id{
  display: block;
  position: absolute;
  background-color: black;
  font-size: 16px;
  color: #2ab1f9;
  float: left;
  top: -13px;
  padding: 1%;
}

.track-display-title{
  font-size: 26px;
}

.track-display-artist{
  font-size: 18px;
}

.track-display-album{
  font-size: 14px;
}
