.track-display{
  display: block;

}

.track-display-list{
  display: block;
  margin: 0px;
  padding: 0px;
}

.track-display-cover-art{
  display: block;
  position: relative;
  object-fit: cover;
  z-index: -1;
  min-width: 100%;
  max-width: 100%;
}


.track-display-item{
  display: inline-block;
  position: relative;
  list-style: none;
  min-width: 23.3%;
  max-width: 23.3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 250px;
  background-color: white;
  opacity: 0.9;
}

.track-display-item:hover{
  opacity: 0.7;
}

.track-display-detail{
  display: block;
  position: absolute;
  background-color: black;
  color: white;
  padding: 20px;
  top: 97%;
  list-style: none;
  min-height: 69%;
  max-height: 69%;
}

.track-display-detail > li{
  display: block;
  padding-bottom: 15px;
}

.track-display-title{
  font-size: 26px;
}

.track-display-artist{
  font-size: 18px;
}

.track-display-album{
  font-size: 14px;
}
